In [1]:
# Set up environment

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Read in datasets 
path = '/Users/priyankareddy/Desktop/Naloxone CSV/Cleaned Data/For Analyses/60% inclusion CCA - Baseline'
pre = pd.read_csv(path+'/pre-training.csv',na_values=[-999,'-999',-888,'-888'])
post = pd.read_csv(path+'/post-training.csv',na_values=[-999,'-999',-888,'-888'])
long = pd.read_csv(path+'/long-term.csv',na_values=[-999,'-999',-888,'-888'])

pre.shape
post.shape
long.shape

#pre.info(verbose=True)

(758, 163)

(559, 82)

(439, 94)

In [3]:
# Find list of people who are LTF at 2 weeks

base_id = pre['ExternalReference'].to_numpy()
type(base_id)
post_id = post['ExternalReference'].to_numpy()
type(post_id)

ltf_2wks = []
ltf_2wks = np.setdiff1d(base_id,post_id)
len(ltf_2wks)

numpy.ndarray

numpy.ndarray

199

In [4]:
pre.insert(163,"LTF_2wks",np.nan,True)
pre.tail().T

                     753    754    755    756    757
ExternalReference  K1295  K1277  K1319  K1312  K1305
Status                 2      2      2      2      2
Student              NaN    NaN    NaN    NaN    NaN
Staff                1.0    1.0    1.0    1.0    NaN
Faculty              NaN    NaN    NaN    1.0    1.0
...                  ...    ...    ...    ...    ...
Q43                  3.0    2.0    3.0    2.0    2.0
Session               25     25     26     26     26
Session_Type           1      1      1      1      1
Survey_Type            1      1      1      1      1
LTF_2wks             NaN    NaN    NaN    NaN    NaN

[164 rows x 5 columns]

In [5]:
base_extref = pre['ExternalReference']
base_extref[0]

'K124'

In [6]:
for i in range(758):
    if base_extref[i] in ltf_2wks:
        pre.loc[i,'LTF_2wks'] = int(1)
    else:
        pre.loc[i,'LTF_2wks'] = int(0)

In [7]:
pre['LTF_2wks'].value_counts()

0.0    559
1.0    199
Name: LTF_2wks, dtype: int64

In [8]:
# Find list of people who are LTF at 6 months

base_id = pre['ExternalReference'].to_numpy()
type(base_id)
long_id = long['ExternalReference'].to_numpy()
type(long_id)

ltf_6mo = []
ltf_6mo = np.setdiff1d(base_id,long_id)
len(ltf_6mo)

numpy.ndarray

numpy.ndarray

319

In [9]:
pre.insert(164,"LTF_6mo",np.nan,False)
pre.tail().T

                     753    754    755    756    757
ExternalReference  K1295  K1277  K1319  K1312  K1305
Status                 2      2      2      2      2
Student              NaN    NaN    NaN    NaN    NaN
Staff                1.0    1.0    1.0    1.0    NaN
Faculty              NaN    NaN    NaN    1.0    1.0
...                  ...    ...    ...    ...    ...
Session               25     25     26     26     26
Session_Type           1      1      1      1      1
Survey_Type            1      1      1      1      1
LTF_2wks             0.0    0.0    0.0    0.0    1.0
LTF_6mo              NaN    NaN    NaN    NaN    NaN

[165 rows x 5 columns]

In [10]:
for i in range(758):
    if base_extref[i] in ltf_6mo:
        pre.loc[i,'LTF_6mo'] = int(1)
    else:
        pre.loc[i,'LTF_6mo'] = int(0)

In [11]:
pre['LTF_6mo'].value_counts()

0.0    439
1.0    319
Name: LTF_6mo, dtype: int64

In [12]:
pre.tail().T

                     753    754    755    756    757
ExternalReference  K1295  K1277  K1319  K1312  K1305
Status                 2      2      2      2      2
Student              NaN    NaN    NaN    NaN    NaN
Staff                1.0    1.0    1.0    1.0    NaN
Faculty              NaN    NaN    NaN    1.0    1.0
...                  ...    ...    ...    ...    ...
Session               25     25     26     26     26
Session_Type           1      1      1      1      1
Survey_Type            1      1      1      1      1
LTF_2wks             0.0    0.0    0.0    0.0    1.0
LTF_6mo              1.0    1.0    1.0    1.0    1.0

[165 rows x 5 columns]

In [13]:
pre.to_csv('pre-training-LTF.csv',index=False)

In [14]:
pre.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 165 columns):
 #    Column                 Non-Null Count  Dtype
---   ------                 --------------  -----
 0    ExternalReference      758 non-null    object
 1    Status                 758 non-null    int64
 2    Student                542 non-null    float64
 3    Staff                  218 non-null    float64
 4    Faculty                23 non-null     float64
 5    StartDate              758 non-null    object
 6    EndDate                758 non-null    object
 7    Progress               758 non-null    int64
 8    Duration__in_seconds_  758 non-null    int64
 9    Finished               758 non-null    int64
 10   RecordedDate           758 non-null    object
 11   Q3                     542 non-null    float64
 12   Q4_1                   109 non-null    float64
 13   Q4_2                   120 non-null    float64
 14   Q4_3                   133 non-null    float64
 15   Q4_4                   25 non-null     float64
 16   Q4_5                   99 non-null     float64
 17   Q4_6                   35 non-null     float64
 18   Q4_7                   12 non-null     float64
 19   Q4_8                   26 non-null     float64
 20   Q4_9                   6 non-null      float64
 21   Q4_10                  230 non-null    float64
 22   Q4_10_TEXT             226 non-null    object
 23   Q5                     44 non-null     float64
 24   Q6                     101 non-null    float64
 25   Q7                     15 non-null     float64
 26   Q8                     757 non-null    float64
 27   Q8_333_TEXT            9 non-null      object
 28   Q9_1                   427 non-null    float64
 29   Q9_2                   118 non-null    float64
 30   Q9_3                   20 non-null     float64
 31   Q9_4                   178 non-null    float64
 32   Q9_5                   5 non-null      float64
 33   Q9_333                 49 non-null     float64
 34   Q9_333_TEXT            47 non-null     object
 35   Q10                    745 non-null    float64
 36   Q11                    740 non-null    float64
 37   Q12_1                  319 non-null    float64
 38   Q12_2                  80 non-null     float64
 39   Q12_3                  70 non-null     float64
 40   Q12_333                63 non-null     float64
 41   Q12_333_TEXT           63 non-null     object
 42   Q13_1                  756 non-null    float64
 43   Q13_2                  756 non-null    float64
 44   Q13_3                  756 non-null    float64
 45   Q13_4                  565 non-null    float64
 46   Q14_1                  756 non-null    float64
 47   Q14_2                  756 non-null    float64
 48   Q14_3                  756 non-null    float64
 49   Q14_4                  756 non-null    float64
 50   Q15_1                  755 non-null    float64
 51   Q15_2                  756 non-null    float64
 52   Q15_3                  756 non-null    float64
 53   Q15_4                  756 non-null    float64
 54   Q16                    758 non-null    int64
 55   Q17_1                  49 non-null     float64
 56   Q17_2                  19 non-null     float64
 57   Q17_3                  29 non-null     float64
 58   Q17_4                  13 non-null     float64
 59   Q17_333                3 non-null      float64
 60   Q17_333_TEXT           3 non-null      object
 61   Q18                    70 non-null     float64
 62   Q19                    757 non-null    float64
 63   Q19_1_TEXT             48 non-null     object
 64   Q20                    757 non-null    float64
 65   Q20_1_TEXT             40 non-null     object
 66   Q21                    757 non-null    float64
 67   Q21_1_TEXT             136 non-null    object
 68   Q22_1                  36 non-null     float64
 69   Q22_2                  67 non-null     float64
 70   Q22_3                  28 non-null     float64
 71   Q22_333                33 non-null     float64
 72   Q22_333_TEXT           32 non-null     object
 73   Q23                    755 non-null    float64
 74   Q23_1_TEXT             105 non-null    object
 75   Q24_1                  23 non-null     float64
 76   Q24_2                  53 non-null     float64
 77   Q24_3                  20 non-null     float64
 78   Q24_333                28 non-null     float64
 79   Q24_333_TEXT           26 non-null     object
 80   Q25_1                  754 non-null    float64
 81   Q25_2                  754 non-null    float64
 82   Q25_3                  753 non-null    float64
 83   Q25_4                  754 non-null    float64
 84   Q25_5                  754 non-null    float64
 85   Q25_6                  754 non-null    float64
 86   Q26                    757 non-null    float64
 87   Q27_1                  754 non-null    float64
 88   Q27_2                  754 non-null    float64
 89   Q27_3                  753 non-null    float64
 90   Q27_4                  752 non-null    float64
 91   Q27_5                  753 non-null    float64
 92   Q27_6                  753 non-null    float64
 93   Q28_1                  753 non-null    float64
 94   Q28_2                  192 non-null    float64
 95   Q28_3                  191 non-null    float64
 96   Q28_4                  753 non-null    float64
 97   Q28_5                  752 non-null    float64
 98   Q28_6                  752 non-null    float64
 99   Q28_7                  751 non-null    float64
 100  Q28_8                  751 non-null    float64
 101  Q29_1                  751 non-null    float64
 102  Q29_2                  752 non-null    float64
 103  Q29_3                  752 non-null    float64
 104  Q29_4                  752 non-null    float64
 105  Q29_5                  751 non-null    float64
 106  Q29_6                  750 non-null    float64
 107  Q29_7                  751 non-null    float64
 108  Q29_8                  750 non-null    float64
 109  Q30_1                  750 non-null    float64
 110  Q30_2                  751 non-null    float64
 111  Q30_3                  751 non-null    float64
 112  Q30_4                  751 non-null    float64
 113  Q30_5                  751 non-null    float64
 114  Q30_6                  751 non-null    float64
 115  Q30_7                  751 non-null    float64
 116  Q30_8                  191 non-null    float64
 117  Q30_9                  751 non-null    float64
 118  Q30_10                 750 non-null    float64
 119  Q31_1                  192 non-null    float64
 120  Q31_2                  192 non-null    float64
 121  Q31_3                  192 non-null    float64
 122  Q31_4                  192 non-null    float64
 123  Q32_1                  751 non-null    float64
 124  Q32_2                  752 non-null    float64
 125  Q32_3                  751 non-null    float64
 126  Q32_4                  751 non-null    float64
 127  Q33_1                  752 non-null    float64
 128  Q33_2                  192 non-null    float64
 129  Q33_3                  751 non-null    float64
 130  Q33_4                  192 non-null    float64
 131  Q33_5                  191 non-null    float64
 132  Q33_6                  192 non-null    float64
 133  Q33_7                  752 non-null    float64
 134  Q33_8                  191 non-null    float64
 135  Q34_1                  564 non-null    float64
 136  Q34_2                  564 non-null    float64
 137  Q34_3                  564 non-null    float64
 138  Q34_4                  562 non-null    float64
 139  Q34_5                  563 non-null    float64
 140  Q34_6                  563 non-null    float64
 141  Q34_7                  564 non-null    float64
 142  Q35_1                  563 non-null    float64
 143  Q35_2                  562 non-null    float64
 144  Q35_3                  563 non-null    float64
 145  Q35_4                  562 non-null    float64
 146  Q35_5                  563 non-null    float64
 147  Q35_6                  562 non-null    float64
 148  Q35_7                  563 non-null    float64
 149  Q35_8                  562 non-null    float64
 150  Q35_9                  563 non-null    float64
 151  Q35_10                 563 non-null    float64
 152  Q36                    561 non-null    float64
 153  Q37                    563 non-null    float64
 154  Q38                    562 non-null    float64
 155  Q39                    563 non-null    float64
 156  Q40                    561 non-null    float64
 157  Q41                    561 non-null    float64
 158  Q42                    563 non-null    float64
 159  Q43                    563 non-null    float64
 160  Session                758 non-null    int64
 161  Session_Type           758 non-null    int64
 162  Survey_Type            758 non-null    int64
 163  LTF_2wks               758 non-null    float64
 164  LTF_6mo                758 non-null    float64
dtypes: float64(142), int64(8), object(15)
memory usage: 977.2+ KB

In [ ]:
pre