In [1]:
# Set up environment

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Load data

path_pre = 'pre-training/pre_mv.csv'
pre = pd.read_csv(path_pre)

path_post = 'post-training/post_mv.csv'
post = pd.read_csv(path_post)

path_long = 'long-term/long_mv.csv'
long = pd.read_csv(path_long)

pre.shape
post.shape
long.shape

(96, 3)

(39, 3)

(24, 3)

In [3]:
pre_post = np.setdiff1d(pre['ExternalReference'],post['ExternalReference'])
pre_post.shape

post_pre = np.setdiff1d(post['ExternalReference'],pre['ExternalReference'])
post_pre.shape

(85,)

(28,)

In [4]:
pre_post_merge = pd.merge(pre,post,on='ExternalReference')
pre_post_merge.shape

(11, 5)

In [5]:
pre_long = np.setdiff1d(pre['ExternalReference'],long['ExternalReference'])
pre_long.shape

long_pre = np.setdiff1d(long['ExternalReference'],pre['ExternalReference'])
long_pre.shape

(89,)

(17,)

In [6]:
pre_long_merge = pd.merge(pre,long,on='ExternalReference')
pre_long_merge.shape

(7, 5)

In [7]:
pre_long_merge

   Unnamed: 0_x ExternalReference  0_x  Unnamed: 0_y  0_y
0           343              K564    1           247    8
1           408              K009    1           115   65
2           549              K854   42           339    6
3           563              K964   42           382   23
4           684              N058    7           392    6
5           685              K911    1           390   42
6           696             K1016    4           401    6

In [8]:
post_long = np.setdiff1d(post['ExternalReference'],long['ExternalReference'])
post_long.shape

long_post = np.setdiff1d(long['ExternalReference'],post['ExternalReference'])
long_post.shape

(38,)

(23,)

In [9]:
post_long_merge = pd.merge(post,long,on='ExternalReference')
post_long_merge.shape

(1, 5)

In [10]:
post_long_merge

   Unnamed: 0_x ExternalReference  0_x  Unnamed: 0_y  0_y
0           513             K1016   23           401    6

In [11]:
pre_post_merge

    Unnamed: 0_x ExternalReference  0_x  Unnamed: 0_y  0_y
0            345              K571    1           267    1
1            459              K654   97           446   56
2            613              K704    7           456   56
3            619              K868    6           476   56
4            641              N059   43           491   56
5            690             K1058   10           523   56
6            692              N068    1           518   56
7            693             K1023   96           525   11
8            696             K1016    4           513   23
9            714             K1144   66           533   56
10           741             K1189    5           558   56

In [12]:
post_long_merge

   Unnamed: 0_x ExternalReference  0_x  Unnamed: 0_y  0_y
0           513             K1016   23           401    6